<!DOCTYPE html>
<html>
	<% include ../common/head.ejs %>
	<body>
        <% include ../common/nav %>
        <p><a href="../project">Vissza</a></p>
        <p>A törlés sikeres volt.
		<% include ../common/footer %>
	</body>
</html>